<h1>Editing student</h1>

<%= form_with url: admin_student_path(@student), method: :PATCH do |form| %>
  <%= render 'form', student: @student, form: form %>
  <div class="actions">
    <%= form.submit "Go" %>
  </div>
<%end%>
<%= link_to 'Back', admin_students_path %>
